.new-screen {
  background-color: #f5f9f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.new-screen .frame-wrapper-2 {
  background-color: #f5f9f7;
  height: 1047px;
  width: 1413px;
}

.new-screen .frame-19 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  position: relative;
  width: 1413px;
}

.new-screen .frame-20 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  padding: 24px 0px 0px;
  position: relative;
}

.new-screen .frame-37071 {
  flex: 0 0 auto !important;
}

.new-screen .frame-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.new-screen .frame-22 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.new-screen .banner {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.new-screen .CIRCLE-instance {
  height: 9.05px !important;
  width: 77.86px !important;
}

.new-screen .frame-23 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.new-screen .text-wrapper-21 {
  align-self: stretch;
  color: #2b2b2b;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.new-screen .services-1 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.new-screen .table-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.new-screen .design-component-instance-node {
  margin-right: -1393.00px !important;
  margin-top: -3887.05px !important;
}

.new-screen .table-2 {
  margin-right: -1393.00px !important;
  margin-top: -3959.05px !important;
}

.new-screen .table-3 {
  margin-right: -923.00px !important;
  margin-top: -3079.05px !important;
}

.new-screen .table-4 {
  margin-right: -923.00px !important;
  margin-top: -3007.05px !important;
}
