.side {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 30px 0px 0px;
  position: relative;
  width: 440px;
}

.side .search-instance {
  align-self: stretch !important;
  width: 100% !important;
  margin-top: 24px;
}

.side .widget-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}
